/*750px以下では「会社概要」「おすすめプラン」「お問い合わせ」は非表示にする。*/
/*****このresponsive.cssでは「トップページ」のみのコーディング****/
@media screen and (max-width: 670px) {
    /*ヘッダー部分*/
    .header-nav {
        display: none;
    }
    .site-title {
        margin-right: 50px;
        width: 100%;
    }

    /*トップスライダー部分*/
    .top-slider {
        width: 662px;
        height: 469px;
    }

    /*メッセージ部分*/
    .message-wrapper {
        width: 570px;
        height: 337px;
        text-align: center;
        margin: 0 auto;
    }
    .message-wrapper .message {
        font-size: 24px;
        line-height:44px;
        font-family: "ＭＳ Ｐ明朝";
        font-weight: bold;
    }

    /*伊豆半島MAP部分*/
    .map-wrapper {
        margin: 0 auto;
        width: 750px;
        height: 563px;
        margin-top: 80px;
    }
    .map-wrapper h2 {
        font-size: 48px;
        font-family: "メイリオ";
        color: #1028de;
        text-align: center;
    }
    .map-wrapper img {
        width: 700px;
        height: 563px;
        margin-left: 0;
    }

    /*-区切りの黒ライン線*/
    .line-1 {
        margin-top: 100px;
    }

    /*当社おすすめプラン*/
    .plan-wrapper h2 {
        font-size: 48px;
        font-family: "メイリオ";
        text-align: left;
        margin-left: 130px;
    }
    .plan-wrapper .plan-banner ul {
        width: 600px;
        height: 1164px;
        margin-top: 37px;
        margin-left: 0;
        position: relative;
    }
    .plan-wrapper .plan-banner ul .block1 {
        width: 600px;
        height: 220px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 30px;
        position: absolute;
    }
    .plan-wrapper .plan-banner ul .block2 {
        width: 600px;
        height: 220px;
        margin-top: 250px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 30px;
        position: absolute;
    }
    .plan-wrapper .plan-banner ul .block3 {
        width: 600px;
        height: 220px;
        margin-top: 500px;
        margin-right: 0px;
        margin-bottom: px;
        margin-left: 30px;
        position: absolute;
    }
    .plan-wrapper .plan-banner ul .block4 {
        width: 600px;
        height: 220px;
        margin-top: 750px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 30px;
        position: absolute;
    }

    /*区切りの黒ライン線*/
    .line-2 {
        margin-top: 297px;
    }

    .faq-wrapper {
        margin-top: 500px;
    }

    /*中伊豆オススメプラン紹介部分*/
     #plan-introduction {
        width: 670px;
        height: 690px;
        flex-direction: column;
    }
    #plan-introduction main {
        width: 100%;
    }
    #plan-introduction .icon1 {
        width: 600px;
        height: 220px;
        margin-top: 50px;
        margin-right: 0px;
        margin-bottom: 26px;
        margin-left: 30px;
    }
    #plan-introduction .article-title {
        width: 659px;
        height: 42px;
        margin-left: 130px;
        margin-bottom: 82px;
    }
    #plan-introduction .article-text {
        width: 600px;
        height: 282px;
        line-height: 50px;
        margin-left: 30px;
    }
    #plan-introduction .article-text br {
        display: none;
    }
    #plan-introduction #sidebar {
        width: 100%;
        margin-top: 200px;
        margin-left: 80px;
    }
    #plan-introduction #sidebar .mini-slider {
        width: 502px;
        height: 282px;
    }
    #plan-introduction #sidebar .mini-slider img {
        width: 100%;
        height: 50vw;
        -o-object-fit: cover;
            object-fit: cover;
    }
    #plan-introduction #sidebar .aside-title {
        margin-bottom: 28px;
        margin-left: 30px;
        text-align: center;
    }
    .send-wrapper .reservation-btn {  
        margin-top: 800px;
        margin-left: 60px;
    }      


    /*****おすすめプラン紹介（西伊豆）*****/
    .icon2 {
        width: 600px;
        height: 220px;
        margin-top: 50px;
        margin-right: 0px;
        margin-bottom: 26px;
        margin-left: 30px;
    }


    /*****おすすめプラン紹介（東伊豆）*****/
    .icon3 {
        width: 600px;
        height: 220px;
        margin-top: 50px;
        margin-right: 0px;
        margin-bottom: 26px;
        margin-left: 30px;
    }


    /*****おすすめプラン紹介（南伊豆）*****/
    .icon4 {
        width: 600px;
        height: 220px;
        margin-top: 50px;
        margin-right: 0px;
        margin-bottom: 26px;
        margin-left: 30px;
    }
      

    /*****「よくあるご質問」のアコーディオン装飾*****/
    .faq-wrapper {
        margin-top: 50px;
    }
    .faq-wrapper #faq-list {
        width: 580px;
    }
    .faq-wrapper #faq-list .faq-list-item span {
        right: -15px;
    }

    /*****フッター部分の装飾*****/
    #footer .container {
      flex-direction: column;
      width: 670px;
      height: 1540px;
    }
    #footer .container .information-wrapper {
      width: 100%;
    }

    #footer .container .map {
      width: 100%;
    }
    
    #footer .container .map .iframe {
      width: 100%;
    }
    
    #footer .container .sns-wrapper {
      width: 100%;
    }
    
    #footer .copyright {
      width: 1600px;
      height: 70px;
      background-color: #000000;
    }
    
    #footer .copyright p {
      text-align: center;
      line-height: 70px;
      width: 670px;
      height: 70px;
    }
}
    
    
    
    
    
/* 750px以上はハンバーガーボタン非表示、ヘッダー固定 */
@media screen and (min-width: 670px) {
    .btn {
        display: block;
    }
    .menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100px;
        /* メニューを横に */
        display: flex;
        flex-direction: row;
        display: none;
    }
}
