img {
    width: 100%;
}
a {
    text-decoration: none;
    color: black;
}


/*****ヘッダー部分*****/
#header {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    height: 178px;
    width: 1600px;
    position: fixed;
    top: 0;
    z-index: 1;
    .site-title {
        width: 415px;
        height: 85px;
        margin-top: 40px;
        margin-left: 120px;
        margin-bottom: 50px;
    }
    .header-nav {
        background-color: #fff;
    }
    .header-nav-menu {
        display: flex;
        margin-left: 290px;
    }
    .header-item {
        font-size: 22px;
        margin-top: 75px;
        margin-right: 55px;
        margin-left: 55px;
        font-family: "ＭＳ Ｐ明朝";
        font-weight: bold;
    }
  }

/*****ハンバーガーメニュー、ドロアメニュー仕様*****/
 /* リセットCSS */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  border: 0;
  outline: 0;
  background: transparent;
  border-radius: 0;
  text-align: inherit;
}
button:hover {
  cursor: pointer;
}

/**************** 以下、ハンバーガーボタンのスタイリング ****************/
/*ボタン*/
.btn {
  /* ボタンの配置位置  */
  position: fixed;
  top: 50px;
  right: 16px;
  /* ボタンの大きさ  */
  width: 48px;
  height: 48px;
  /* バーガーの線をボタン範囲の中心に配置 */
  display: flex;
  justify-content: center;
  align-items: center;
  /* 最前面に */
  z-index: 10;
}

/***** 真ん中のバーガー線 *****/
.btn-line {
  /* 線の長さと高さ */
  width: 100%;
  height: 4px;
  /* バーガー線の色 */
  background-color: #333;
  /* バーガー線の位置基準として設定 */
  position: relative;
  transition: .2s;
}

/***** 上下のバーガー線 *****/
.btn-line::before,
.btn-line::after {
  content: "";
  /* 基準線と同じ大きさと色 */
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  transition: .2s;
}

.btn-line::before {
  /* 上の線の位置 */
  transform: translateY(-16px);
}


.btn-line::after {
  /* 下の線の位置 */
  transform: translateY(16px);
}

/***** メニューオープン時 *****/
.btn-line.open {
  /* 真ん中の線を透明に */
  background-color: transparent;
}

.btn-line.open::before,
.btn-line.open::after {
  content: "";
  transition: .2s;
}

.btn-line.open::before {
  /* 上の線を傾ける */
  transform: rotate(45deg);
}

.btn-line.open::after {
  /* 上の線を傾ける */
  transform: rotate(-45deg);
}

/* ボタンフォーカス時の装飾 */
.btn:focus .btn-line ,
.btn:focus .btn-line::before ,
.btn:focus .btn-line::after {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .7);
}

.btn:focus .btn-line.open {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
    
.btn:focus .btn-line.open::before ,
.btn:focus .btn-line.open::after {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .7);
}
/**************** ここまで、ハンバーガーボタンのスタイリング ****************/

/**************** 以下、メニューのスタイリング ****************/
/*ドロアーメニュー部分*/
.menu {
  position: fixed;
  /* メニューの位置マイナス指定で画面外に */
  right: -100%;
  width: 70%;
  height: 100vh;
  /* メニューを縦に */
  display: flex;
  flex-direction: column;
  color: #efefef;
  background-color: rgba(75, 212, 236, 0.7);
  transition: .3s;
  z-index: 1;
}

.header-item2 {
  width: 100%;
  height: 100%;
  /* メニューテキスト位置をリスト内中心に */
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-item2:hover {
  color: #333;
  background-color: rgba(255, 255, 255, 0.5);
  transition: .3s;
  cursor: pointer;
}

/***** メニューオープン時位置0にして画面内に *****/
.menu.open {
  position: absolute;
  right: 0;
}

/**************** ここまで、メニューのスタイリング ****************


/*モーダル部分（PC用）*/
.login-modal-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    display: none;
}
.modal {
    position: absolute;
    top: 20%;
    left: 34%;
    background-color: #e6ecf0;
    padding: 20px 0 40px;
    border-radius: 10px;
    width: 450px;
    height: auto;
    text-align: center;
    .fa-times {
    position: absolute;
    top: 12px;
    right: 12px;
    color: rgba(128, 128, 128, 0.46);
    cursor: pointer;
    }
}
#login-form {
    width: 100%;
     h2 {
    color: #5f5d60;
    letter-spacing: 1px;
    margin-bottom: 40px;
    }
    input,textarea {
    width: 320px;
    margin-bottom: 20px;
    font-size: 12px;
    padding: 12px 12px;
    border: 1px solid #d0d5d8;
    border-radius: 5px;
    }
}

            
#submit-btn {
    display: inline-block;
    padding: 14px 140px;
    background-color: #19b424;
    border: none;
    border-radius: 3px;
    color: white;
    margin: 10px auto;
    cursor: pointer;
}

/*モーダル部分（SP用）*/
.login-modal-wrapper2 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}
.modal2{
  position: absolute;
  top: 20%;
  left: 5%;
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
  .fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
  }
}
#login-form {
  width: 100%;
   h2 {
  color: #5f5d60;
  letter-spacing: 1px;
  margin-bottom: 40px;
  }
  input,textarea {
  width: 320px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
  }
}

          
#submit-btn {
  display: inline-block;
  padding: 14px 140px;
  background-color: #19b424;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 10px auto;
  cursor: pointer;
}



/*****slick sliderの実装（top-viewのスライダー）*****/
.top-slider {
    width: 1393px;
    height: 968px;
    margin: 0 auto;
    margin-top: 178px;
}
  /*矢印や点の装飾部分*/
.slick-prev::before,
.slick-next::before {
  color: black!important;
}


/*****当社の伊豆に関する紹介文（ファーストメッセージ）の装飾*****/
.message-wrapper {
  width: 1393px;
  height: 364px;
  text-align: center;
  margin: 0 auto;
  margin-top: 170px;
  margin-bottom: 220px;
  .message {
    font-size: 36px;
    line-height: 76px;
    font-family: "ＭＳ Ｐ明朝";
    font-weight: bold;
  }
}


/*****伊豆半島MAP*****/
.map-wrapper {
  margin: 0 auto;
  width: 1600px;
  height: 1440px;
  h2 {
    font-size: 72px;
    font-family: "メイリオ";
    color: #1028de;
    text-align: center;
  }
  img {
    width: 1395px;
    height: 1046px;
    display: block;
    margin: 0 auto;
  }
}

/*****区切りの黒ライン線1*****/
.line-1 {
  width: 1600px;
  height: 1px;
  border: solid 1px #000000;
  display: block;
}

      
/*****当社おすすめプラン（４つのバナー）*****/
.plan-wrapper {
    width: 1598px;
    height: 834px;
    margin-top: 95px;
    text-align: center;
    h2 {
      font-size: 72px;
      font-family: "メイリオ";
    }
    .plan-banner ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 157px;
    .block1 {
      width: 659px;
      height: 220px;
      margin-top: 47px;
      margin-right: 71px;
      margin-bottom: 36px;
      margin-left: 97px;
    }
    .block2 {
      width: 659px;
      height: 220px;
      margin-top: 47px;
      margin-right: 97px;
      margin-bottom: 36px;
      margin-left: 0px;
    }
    .block3 {
      width: 659px;
      height: 220px;
      margin-top: 0px;
      margin-right: 71px;
      margin-bottom: 197px;
      margin-left: 97px;
    }
    .block4 {
      width: 659px;
      height: 220px;
      margin-top: 0px;
      margin-right: 97px;
      margin-bottom: 197px;
      margin-left: 0px;
    }
  }
}

/*****区切りの黒ライン線2*****/
.line-2 {
  width: 1400px;
  height: 1px;
  border: solid 1px #000000;
  display: block;
  margin: 0 auto;
}

/*****おすすめプラン紹介（中伊豆）*****/
#plan-introduction {
  width: 1600px;
  height: 690px;
  display: flex;
  main {
    width: 50%;
  }
  .icon1 {
    width: 659px;
    height: 220px;
    margin-top: 50px;
    margin-right: 0px;
    margin-bottom:26px;
    margin-left: 97px;
  }
  .article-title {
    font-size: 36px;
    font-weight: bold;
    font-family: "MSP明朝";
    width: 659px;
    height: 42px;
    margin-left: 230px;
    margin-bottom: 82px;
  }
  .article-text {
    font-size: 24px;
    font-weight: bold;
    font-family: "MSP明朝";
    width: 700px;
    height: 282px;
    line-height: 58px;
    margin-left: 97px;
  }
  #sidebar {
    width: 50%;
    margin-top: 200px;
    margin-left: 143px;
    .mini-slider {
      width: 502px;
      height: 282px;
    }
    .mini-slider img {
      width: 100%;
      height: 21vw;
      object-fit: cover;
    }
    .aside-title {
      font-size: 48px;
      font-weight: bold;
      font-family: "MSP明朝";
      margin-bottom: 28px;
      text-align: center;
    }
  }
}

/*****このコースを予約するボタンのコンポーネント*****/

.send-wrapper {
  width: 1600px;
  height: 310px;
  margin-top: 170px;
  .reservation-btn {
    background-color: #19b424;
    width: 520px;
    height: 100px;
    padding: 10px 15px;
    text-align: center;
    line-height: 90px;
    cursor: pointer;
    box-shadow: 10px 10px #0e6013;
    border-radius: 10px;
    font-size: 48px;
    font-family: "MSP明朝";
    font-weight: bold;
    color: #000000;
    display: block;
    margin: 0 auto;
  }
  .reservation-btn:active {
    position: relative;
    box-shadow: none;
    top: 10px;
  }
}


/*****区切りの黒ライン線3*****/
.line-3 {
  width: 1400px;
  height: 1px;
  border: solid 1px #000000;
  display: block;
  margin: 0 auto;
}


/*****おすすめプラン紹介（西伊豆）*****/
.icon2 {
  width: 659px;
  height: 220px;
  margin-top: 50px;
  margin-right: 0px;
  margin-bottom:26px;
  margin-left: 97px;
}
.article-title {
  font-size: 36px;
  font-weight: bold;
  font-family: "MSP明朝";
  width: 659px;
  height: 42px;
  margin-left: 230px;
  margin-bottom: 82px;
}

/*****区切りの黒ライン線4*****/
.line-4 {
  width: 1400px;
  height: 1px;
  border: solid 1px #000000;
  display: block;
  margin: 0 auto;
}


/*****おすすめプラン紹介（東伊豆）*****/
.icon3 {
  width: 659px;
  height: 220px;
  margin-top: 50px;
  margin-right: 0px;
  margin-bottom:26px;
  margin-left: 97px;
}
.article-title {
  font-size: 36px;
  font-weight: bold;
  font-family: "MSP明朝";
  width: 659px;
  height: 42px;
  margin-left: 230px;
  margin-bottom: 82px;
}

/*****区切りの黒ライン線5*****/
.line-5 {
  width: 1400px;
  height: 1px;
  border: solid 1px #000000;
  display: block;
  margin: 0 auto;
}

/*****おすすめプラン紹介（南伊豆）*****/
.icon4 {
  width: 659px;
  height: 220px;
  margin-top: 50px;
  margin-right: 0px;
  margin-bottom:26px;
  margin-left: 97px;
}
.article-title {
  font-size: 36px;
  font-weight: bold;
  font-family: "MSP明朝";
  width: 659px;
  height: 42px;
  margin-left: 230px;
  margin-bottom: 82px;
}

/*****区切りの黒ライン線6*****/
.line-6 {
  width: 1400px;
  height: 1px;
  border: solid 1px #000000;
  display: block;
  margin: 0 auto;
}


/*****「よくあるご質問」のアコーディオン装飾*****/
.faq-wrapper {
  background-color: #e6ecf0;
  text-align: center;
  padding-bottom: 80px;
  color: #5f5d60;
  margin-top: 26px;
  h2 {
    font-size: 36px;
    font-family: "メイリオ";
    color: #000000;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #faq-list {
      width: 1100px;
      margin: 0 auto;
      padding: 0;
      list-style: none;
      .faq-list-item {
          margin: 10px;
          border-bottom: 1px solid #000000;
          position: relative;
          cursor: pointer;
          text-align: left;
          h3 {
              font-size: 36px;
              font-family: "メイリオ";
              color: #000000;
          }
          span {
              position: absolute;
              top: 0;
              right: 5px;
              color: #000000;
              font-size: 40px;
          }
          .answer {
              font-size: 12px;
              padding-top: 5px 0px;
              margin-bottom: 15px;
              display: none;
              line-height: 35px;
              p {
                  text-align: left;
                  font-size: 24px;
                  font-family: "メイリオ";
                  color: #000000;
              }
          }
      }
  }
}


/*****トップへ戻るボタン*****/
#page-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  i {
      color:orangered;
  }
  i:hover {
      cursor: pointer;
  }
}

/*****フッター部分*****/
#footer {
  width: 100%;
  height: 580px;
  .container {
    display: flex;
    width: 1600px;
    height: 512px;
    .information-wrapper {
      width: 33%;
      height: 400px;
      margin-top: 107px;
      margin-left: 90px;
      h2 {
        width: 340px;
        height: 95px;
      }
      ul {
        list-style: disc;
        padding-left: 70px;
        li {
          font-size: 24px;
          font-family: "メイリオ";
          line-height: 40px;
        }
      }
    }
    .map {
      width: 33%;
      height: 400px;
      margin-top: 122px;
      h2 {
        font-size: 36px;
        font-family: "ＭＳＰ明朝";
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
      }
      .iframe {
        width: 518px;
        height: 330px;
      }
    }
    .sns-wrapper {
      width: 33%;
      height: 400px;
      margin-top: 122px;
      h2 {
        font-size: 48px;
        font-family: "ＭＳＰ明朝";
        font-weight: bold;
        margin-bottom: 34px;
        text-align: center;
      }
      ul {
        list-style: disc;
        padding-left: 200px;
        li {
          font-size: 24px;
          font-family: "メイリオ";
          line-height: 40px;
        }
      }
    }
  }
  .copyright {
    width: 1600px;
    height: 70px;
    background-color: #000000;
    p {
      text-align: center;
      line-height: 70px;
      color: #fff;
      font-weight: bold;
      font-size: 24px;
      font-family: "MSP明朝"；
    }
  }
}



/*****下層ページ（コース予約のページの装飾）*****/
.Form {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  max-width: 720px;
}
@media screen and (max-width: 480px) {
  .Form {
    margin-top: 40px;
  }
}
.Form-Item {
  border-top: 1px solid #ddd;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .Form-Item {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
  }
}
.Form-Item:nth-child(5) {
  border-bottom: 1px solid #ddd;
}
.Form-Item-Label {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label {
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
}
.Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label.isMsg {
    margin-top: 0;
  }
}
.Form-Item-Label-Required {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #19b424;
  color: #fff;
  font-size: 14px;
}
.traffic {
  margin-left: 100px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label-Required {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
}
.Form-Item-Input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Input {
    margin-left: 0;
    margin-top: 18px;
    height: 40px;
    flex: inherit;
    font-size: 15px;
  }
}
.Form-Item-Textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Textarea {
    margin-top: 18px;
    margin-left: 0;
    height: 200px;
    flex: inherit;
    font-size: 15px;
  }
}
.Form-Btn {
  border-radius: 6px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  display: block;
  letter-spacing: 0.05em;
  background: #19b424;
  box-shadow: 10px 10px #0e6013;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
.Form-Btn:active {
  position: relative;
  box-shadow: none;
  top: 10px;
}
@media screen and (max-width: 480px) {
  .Form-Btn {
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    font-size: 16px;
  }
}


/*****下層ページ（中伊豆）*****/
/*****またレスポンシブも記載してあります。*****/
#plan-introduction2 {
  display: flex;

}
main {
  width: 50%;
  #naka-izu {
    img {
      width: 700px;
      height: 700px;
      margin-top: 200px;
      margin-bottom: 50px;
      margin-left: 50px;
    }
    h2 {
      font-size: 50px;
      font-weight: bold;
      margin-left: 110px;
    }
  }
}

#plan-details {
  margin-top: 200px;
  margin-left: 200px;
  width: 50%;
  height: 1000px;
  h2 {
    font-size: 40px;
    font-weight: bold;
    width: 480px;
    background-color:rgba(241, 145, 169, 0.7)
  }
  p {
    margin-top: 10px;
  }
}
/*****レスポンシブ部分の実装*****/
@media screen and (max-width: 670px) {
  #plan-introduction2 {
    flex-direction: column;
  }
  main {
    width: 100%;
    #naka-izu {
      img {
        width: 600px;
        height: 700px;
        margin-top: 200px;
        margin-bottom: 50px;
        margin-left: 20px;
      }
      h2 {
        font-size: 50px;
        font-weight: bold;
        margin-left: 50px;
      }
    }
  }
  
  #plan-details {
    margin-top: 200px;
    margin-left: 40px;
    width: 100%;
    height: 300px;
    h2 {
      font-size: 40px;
      font-weight: bold;
      width: 480px;
      background-color:rgba(241, 145, 169, 0.7)
    }
    p {
      margin-top: 10px;
    }
  }
}